<nav id="sidebar" class="scrollbar">
    <div class="sidebar-header">
        <h3>CEVO NAV</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <span><a href="#cat1" data-toggle="collapse" aria-expanded="false">Category 1</a></span>
            <ul class="collapse list-unstyled scrollbar" id="cat1">
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
                <li><a href="#">Area</a></li>
            </ul>
        </li>
        <li>
            <span><a href="#cat2" data-toggle="collapse" aria-expanded="false">Category 2</a></span>
            <ul class="collapse list-unstyled" id="cat2">
              <li><a href="#cat2area1" data-toggle="collapse" aria-expanded="false">Area</a>
                <ul class="collapse scrollbar" id="cat2area1">
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                  <li><a href="#">Sub-Area</a></li>
                </ul>
              </li>
              <li><a href="#">Area</a></li>
              <li><a href="#">Area</a></li>
            </ul>
        </li>
        <li>
            <span><a href="#cat3" data-toggle="collapse" aria-expanded="false">Category 3</a></span>
            <ul class="collapse list-unstyled" id="cat3">
              <li><a href="#cat3area1" data-toggle="collapse" aria-expanded="false">Area</a>
                <ul class="collapse" id="cat3area1">
                  <li><a a href="#area1sub1" data-toggle="collapse" aria-expanded="false">Sub-Area</a></li>
                  <ul class="collapse" id="area1sub1">
                    <li><a href="#">Child-Area</a></li>
                    <li><a href="#">Child-Area</a></li>
                    <li><a href="#">Child-Area</a></li>
                    <li><a href="#">Child-Area</a></li>
                    <li><a href="#">Child-Area</a></li>
                    <li><a href="#">Child-Area</a></li>
                  </ul>
                </ul>
              </li>
              <li><a href="#cat3area2" data-toggle="collapse" aria-expanded="false">Area</a>
                <ul class="collapse" id="cat3area2">
                  <li><a href="#">Sub-Area</a></li>
                </ul>
              </li>
            </ul>
        </li>
        <li>
            <span><a href="#cat4" data-toggle="collapse" aria-expanded="false">Category 4</a></span>
            <ul class="collapse list-unstyled" id="cat4">
              <li><a href="#cat4area1" data-toggle="collapse" aria-expanded="false">Area</a>
                <ul class="collapse list-unstyled" id="cat4area1">
                  <li><a href="#">Sub-Area</a></li>
                </ul>
              </li>
              <li><a href="#cat4area2" data-toggle="collapse" aria-expanded="false">Area</a>
                <ul class="collapse list-unstyled" id="cat4area2">
                  <li><a href="#">Sub-Area</a></li>
                </ul>
              </li>
              <li><a href="#cat4area3" data-toggle="collapse" aria-expanded="false">Area</a>
                <ul class="collapse list-unstyled" id="cat4area3">
                  <li><a href="#">Sub-Area</a></li>
                </ul>
              </li>
              <li><a href="#cat4area4" data-toggle="collapse" aria-expanded="false">Area</a>
                <ul class="collapse list-unstyled" id="cat4area4">
                  <li><a href="#">Sub-Area</a></li>
                </ul>
              </li>
              <li><a href="#cat4area5" data-toggle="collapse" aria-expanded="false">Area</a>
                <ul class="collapse list-unstyled" id="cat4area5">
                  <li><a href="#">Sub-Area</a></li>
                </ul>
              </li>
            </ul>
        </li>
        <li>
            <span><a href="#cat5" data-toggle="collapse" aria-expanded="false">Category 5</a></span>
            <ul class="collapse list-unstyled" id="cat5">
              <li><a href="#">Area</a></li>
            </ul>
        </li>
        <li>
            <span><a href="#cat6" data-toggle="collapse" aria-expanded="false">Category 6</a></span>
            <ul class="collapse list-unstyled" id="cat6">
              <li><a href="#">Area</a></li>
              <li><a href="#">Area</a></li>
              <li><a href="#">Area</a></li>
              <li><a href="#">Area</a></li>
              <li><a href="#">Area</a></li>
            </ul>
        </li>
      <li>
      <span><a href="#">Category 7</a></span>
      </li>
    </ul>


</nav>

<script>

$(document).ready(function() {

  jQuery('span').click( function(e) {
      jQuery('.collapse').collapse('hide');
  });

  $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
  });
});


</script>
