<nav id="sidebar" class="scrollbar">
    <div class="sidebar-header underline">
        <h3>CEVO NAV</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <span><a href="#cat1" data-toggle="collapse" aria-expanded="false" class="underline">Category 1</a></span>
            <ul class="collapse list-unstyled scrollbar" id="cat1">
                <li><a href="#">Area 1</a></li>
                <li><a href="#">Area 2</a></li>
                <li><a href="#">Area 3</a></li>
                <li><a href="#">Area 4</a></li>
                <li><a href="#">Area 5</a></li>
                <li><a href="#">Area 6</a></li>
                <li><a href="#">Area 7</a></li>
                <li><a href="#">Area 8</a></li>
                <li><a href="#">Area 9</a></li>
                <li><a href="#">Area 10</a></li>
                <li><a href="#">Area 11</a></li>
                <li><a href="#">Area 12</a></li>
                <li><a href="#">Area 13</a></li>
                <li><a href="#">Area 14</a></li>
                <li><a href="#">Area 15</a></li>
                <li><a href="#">Area 16</a></li>
                <li><a href="#">Area 17</a></li>
                <li><a href="#">Area 18</a></li>
                <li><a href="#">Area 19</a></li>
                <li><a href="#">Area 20</a></li>
                <li><a href="#">Area 21</a></li>
                <li><a href="#">Area 22</a></li>
                <li><a href="#">Area 23</a></li>
                <li><a href="#">Area 24</a></li>
                <li><a href="#">Area 25</a></li>
                <li><a href="#">Area 26</a></li>
                <li><a href="#">Area 27</a></li>
                <li><a href="#">Area 28</a></li>
                <li><a href="#">Area 29</a></li>
                <li><a href="#">Area 30</a></li>
            </ul>
        </li>
        <li>
            <span><a href="#cat2" data-toggle="collapse" aria-expanded="false" class="underline">Category 2</a></span>
            <ul class="collapse list-unstyled" id="cat2">
              <li><a href="#cat2area1" data-toggle="collapse" aria-expanded="false">Area 1</a>
                <ul class="collapse scrollbar" id="cat2area1">
                  <li><a href="#">Sub-Area 1</a></li>
                  <li><a href="#">Sub-Area 2</a></li>
                  <li><a href="#">Sub-Area 3</a></li>
                  <li><a href="#">Sub-Area 4</a></li>
                  <li><a href="#">Sub-Area 5</a></li>
                  <li><a href="#">Sub-Area 6</a></li>
                  <li><a href="#">Sub-Area 7</a></li>
                  <li><a href="#">Sub-Area 8</a></li>
                  <li><a href="#">Sub-Area 9</a></li>
                  <li><a href="#">Sub-Area 10</a></li>
                  <li><a href="#">Sub-Area 11</a></li>
                  <li><a href="#">Sub-Area 12</a></li>
                  <li><a href="#">Sub-Area 13</a></li>
                  <li><a href="#">Sub-Area 14</a></li>
                  <li><a href="#">Sub-Area 15</a></li>
                </ul>
              </li>
              <li><a href="#">Area 2</a></li>
              <li><a href="#">Area 3</a></li>
            </ul>
        </li>
        <li>
            <span><a href="#cat3" data-toggle="collapse" aria-expanded="false" class="underline">Category 3</a></span>
            <ul class="collapse list-unstyled" id="cat3">
              <li><a href="#cat3area1" data-toggle="collapse" aria-expanded="false">Area 1</a>
                <ul class="collapse" id="cat3area1">
                  <li><a a href="#area1sub1" data-toggle="collapse" aria-expanded="false">Sub-Area 1</a></li>
                  <ul class="collapse" id="area1sub1">
                    <li><a href="#">Child-Area 1</a></li>
                    <li><a href="#">Child-Area 2</a></li>
                    <li><a href="#">Child-Area 3</a></li>
                    <li><a href="#">Child-Area 4</a></li>
                    <li><a href="#">Child-Area 5</a></li>
                    <li><a href="#">Child-Area 6</a></li>
                  </ul>
                </ul>
              </li>
              <li><a href="#cat3area2" data-toggle="collapse" aria-expanded="false">Area 2</a>
                <ul class="collapse" id="cat3area2">
                  <li><a href="#">Sub-Area 1</a></li>
                </ul>
              </li>
            </ul>
        </li>
        <li>
            <span><a href="#cat4" data-toggle="collapse" aria-expanded="false" class="underline">Category 4</a></span>
            <ul class="collapse list-unstyled" id="cat4">
              <li><a href="#cat4area1" data-toggle="collapse" aria-expanded="false">Area 1</a>
                <ul class="collapse list-unstyled" id="cat4area1">
                  <li><a href="#">Sub-Area 1</a></li>
                </ul>
              </li>
              <li><a href="#cat4area2" data-toggle="collapse" aria-expanded="false">Area 2</a>
                <ul class="collapse list-unstyled" id="cat4area2">
                  <li><a href="#">Sub-Area 1</a></li>
                </ul>
              </li>
              <li><a href="#cat4area3" data-toggle="collapse" aria-expanded="false">Area 3</a>
                <ul class="collapse list-unstyled" id="cat4area3">
                  <li><a href="#">Sub-Area 1</a></li>
                </ul>
              </li>
              <li><a href="#cat4area4" data-toggle="collapse" aria-expanded="false">Area 4</a>
                <ul class="collapse list-unstyled" id="cat4area4">
                  <li><a href="#">Sub-Area 1</a></li>
                </ul>
              </li>
              <li><a href="#cat4area5" data-toggle="collapse" aria-expanded="false">Area 5</a>
                <ul class="collapse list-unstyled" id="cat4area5">
                  <li><a href="#">Sub-Area 1</a></li>
                </ul>
              </li>
            </ul>
        </li>
        <li>
            <span><a href="#cat5" data-toggle="collapse" aria-expanded="false" class="underline">Category 5</a></span>
            <ul class="collapse list-unstyled" id="cat5">
              <li><a href="#">Area 1</a></li>
            </ul>
        </li>
        <li>
            <span><a href="#cat6" data-toggle="collapse" aria-expanded="false" class="underline">Category 6</a></span>
            <ul class="collapse list-unstyled" id="cat6">
              <li><a href="#">Area 1</a></li>
              <li><a href="#">Area 2</a></li>
              <li><a href="#">Area 3</a></li>
              <li><a href="#">Area 4</a></li>
              <li><a href="#">Area 5</a></li>
            </ul>
        </li>
      <li>
      <span><a href="#">Category 7</a></span>
      </li>
    </ul>


</nav>

<script>

$(document).ready(function() {

  jQuery('span').click( function(e) {
      jQuery('.collapse').collapse('hide');
  });

  $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
  });
});

</script>
